{{page-title "404 Not Found"}}
<div class="card card-user">
    <div class="card-header ">
        <div class="row">
            <div class="col-sm-12 text-left">
                <p class="card-text"></p>
                <div class="author">
                <div class="block block-one"></div>
                <div class="block block-two"></div>
                <div class="block block-three"></div>
                <div class="block block-four"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body card-not-found">
        <h1>Oops!</h1>
        <p>The page you are looking for doens't exist.</p>
        <br/>
        <LinkTo @class="link-not-find" @route="dashboard">
            <button type="submit" class="btn btn-fill btn-primary">Go to Dashboard</button>
        </LinkTo>
    </div>
</div>

