<div class="card card-user">
    <div class="card-header ">
        <div class="row">
            <div class="col-sm-12 text-left">
                <p class="card-text"></p>
                <div class="author">
                <div class="block block-one"></div>
                <div class="block block-two"></div>
                <div class="block block-three"></div>
                <div class="block block-four"></div>
                <h2 class="card-title domain-title">My Offers</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body card-offers">
        toto

    </div>
    <div class="card-footer card-footer-domain">
        <button type="submit" class="btn btn-fill btn-primary btn-left">Search</button>
    </div>
</div>



