{{page-title "Domain"}}

<div class="content">
  <div class="row">
    <div class="col-lg-6 col-md-6">
        {{contract/domain}}
    </div>
    <div class="col-lg-6 col-md-6">
        {{contract/offers}}
    </div>
  </div>
 <div class="row">
    <div class="col-lg-6 col-md-6">
        {{contract/address onRouteChange=this.setQueryParam}}
    </div>
  </div>
</div>
