<div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <form>
                <Input {{on "submit" this.search}} @type="text" @value={{walletAddress}} @class="form-control search-bar-input" @placeholder="Enter Wallet Address"/>
                <button {{on 'click' this.search}} type="submit" class="search-bar-button btn btn-fill btn-primary">Search</button>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i class="tim-icons icon-simple-remove"></i>
                </button>
                </form>
            </div>
        </div>
    </div>
</div>