.btn-left {
  margin-right: 15px;
}

#wallet-connection-notif {
    position: absolute;
    z-index: 0; 
    margin: 10% 10% 0; 
    text-align: center; 
    font-size: 30px; 
    padding: 47px;
}

.wallet-total-amount {
  font-size: 20px;
}

.main-loader {
    width: 45px; 
    margin: 43px 0;
}

.rotate {
    animation: rotation 2s infinite linear;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

.notification.ready {
  background: #00bf9a;
  border-color: #00bf9a;
}

.notification.syncing {
  background: #ff9f89;
  border-color: #ff9f89;
}

.notification.error {
  background: #a80707;
  border-color: #a80707;
}

.card-body-stake {
  text-align: center;
}

.stakes-activity {
  margin: 40px auto 0;
}

input.border-color{
  border: 1px solid #bdbdc4;
}

#stake-amount {
  font-size: 28px;
  width: 300px;
  margin: 20px auto;
  text-align: center;
  height: 55px;
}

.a-elipsis {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 150px;
}

.capitalize {
  text-transform: capitalize;
}

.coin-amount {
  font-weight: 600;
}

.coin-value {
  font-size: 12px;
}

td#in-or-out {
  width: 70px;
  padding: 0 20px;
}

td#in-or-out img {
  min-width: 30px;
}

.td-value {
    min-width: 170px;
    text-indent: 10%;
}