<li {{on "click" this.copyToClipboard}} class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">
    {{#each messages as |message|}}
        {{message}}<br/>
    {{/each}}
</a></li>