<ul class="nav">
    {{#each menuItemList as |menuItem|}}
    <li class="nav-item {{if menuItem.classActive "active"}}">
        <LinkTo @class="nav-link" @route="{{menuItem.name}}">
        <i class="tim-icons {{menuItem.icon}}"></i>
        <p class="menu-item">{{menuItem.name}}</p>
        </LinkTo>
    </li>
    {{/each}}
</ul>