<div {{did-insert this.setupEventListener}} class="modal fade" id="downloadThetaExtension" tabindex="-1" role="dialog" aria-labelledby="downloadThetaExtension" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="wallet-connection-notif">
                <div class="relative-content alert alert-primary">
                    <span data-notify="message">Make sure you authenticate to the <a class="loading-a" href="https://chrome.google.com/webstore/detail/theta-wallet/ckelpdlfgochnkdgikcgbimdcfgpkhgk" target="_blank">Theta Wallet extention</a>.
                    <br/>Click 
                        <a class="loading-a" href="https://chrome.google.com/webstore/detail/theta-wallet/ckelpdlfgochnkdgikcgbimdcfgpkhgk" target="_blank">here</a>
                    to download it.</span>
                </div>
            </div>
        </div>
    </div>
</div>