
<div class="card card-chart card-logs">
  <div class="card-header ">
    <div class="row">
      <div class="col-sm-12 text-left">
        <h3 class="card-title">Wallet Composition in $</h3>
      </div>
    </div>
  </div>
  <div class="card-body" style="position: relative; height:40vh; ">
    <canvas id="pieChartExample" {{did-insert this.setupChart}}></canvas>
  </div>
</div>