
<div class="card card-chart">
  <div class="card-header ">
    <div class="row">
      <div class="col-sm-6 text-left">
        <h2 class="card-title">Wallet Composition</h2>
      </div>
    </div>
  </div>
  <div class="card-body" style="position: relative; height:40vh; ">
    <canvas id="pieChartExample" {{did-insert this.setupChart}}></canvas>
  </div>
</div>