{{page-title "FAQ"}}

<div class="content" id="faq-page">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="card card-user">
        <div class="card-body">
          <p class="card-text">
          </p>
          <div class="author">
            <div class="block block-one"></div>
            <div class="block block-two"></div>
            <div class="block block-three"></div>
            <div class="block block-four"></div>
            <a href="javascript:void(0)">
              <h3 class="title">ThetaBoard</h3>
            </a>
            <p class="description">
              What is ThetaBoard?
            </p>
          </div>
          <p></p>
          <div class="card-description">
            <p>
              Thetaboard.io mission is to become the central place for any Theta enthusiast. <br>
              We want to bring value to the Theta ecosystem by providing functionalities
              that either simplifies access to information about Theta, or enrich the ecosystem.<br>

              We currently have:
            </p>
            <ul>
              <li><a href="#dashboard">A Dashboard</a></li>
              <li><a href="#wallet">A Wallet</a></li>
              <li><a href="#domain">Domains</a></li>
              <li><a href="#guardian">Public Guardian Node</a></li>
            </ul>
            <p>
              Thetaboard.io is an open source project hosted on <a
                    target="_blank" href="https://github.com/momohuri/thetaboard">github</a>.
              We encourage people to deploy their own instance of Thetaboard using the easy instructions, so they can
              have
              there own Guardian Node. <br>
              This project primarily developed and maintained by Maurin Lenglart and Adrien Vinches.<br>
              We can be contacted for support or suggestions on <a target="_blank" href="https://discord.gg/SGUtY7zBU3"> discord</a>
              <br>
              If you like the project you can do a donation at  {{donation/donation}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" id="dashboard">
    <div class="col-lg-12 col-md-12">
      <div class="card card-user">
        <div class="card-body">
          <p class="card-text">
          </p>
          <div class="author">
            <div class="block block-one"></div>
            <div class="block block-two"></div>
            <div class="block block-three"></div>
            <div class="block block-four"></div>
            <a href="javascript:void(0)">
              <h3 class="title">Dashboard</h3>
            </a>
            <p class="description">
              What is the Dashboard page?
            </p>
          </div>
          <p></p>
          <div class="card-description">
            <p>
              The dashboard page exists to report information about Theta and Tfuel price evolution, as well as some
              information about a wallet.<br>
              To get information about a specific wallet, it possible to either search for it
              by address or <a href="#domain">domain</a> by clicking on the search bar,
              or connect your wallet using the <a
                    target="_blank" href="https://chrome.google.com/webstore/detail/Theta-wallet/ckelpdlfgochnkdgikcgbimdcfgpkhgk">official
              Theta Wallet extension.</a><br>
              It currently has 5 widgets:
            </p>
            <ul>
              <li><b>Tfuel/Theta line chart: </b> This widget provide historic price information for both crypto
                currencies. It can be filtered by year, month or week
              </li>
              <li><b> Wallet Composition: </b> It display a pie chart, representing all the Theta and Tfuel held by
                the wallet with the
                composition in $ value.
              </li>
              <li><b> Theta and Tfuel price: </b> Theses two widgets gives live information about the current price,
                the delta with the last 24hours, and delta with the last 7 days, as well as market cap.
              </li>
              <li><b> Guardian Node Reward Forecast: </b> Staking Theta on a Guardian Node gives TFuel as rewards. There
                is a minimum of {{format-number 1000}} Theta requirement in order to stake. This widget take an input of
                amount of Theta and
                forecast how many Tfuel will be rewarded by day/month/year.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" id="wallet">
    <div class="col-lg-12 col-md-12">
      <div class="card card-user">
        <div class="card-body">
          <p class="card-text">
          </p>
          <div class="author">
            <div class="block block-one"></div>
            <div class="block block-two"></div>
            <div class="block block-three"></div>
            <div class="block block-four"></div>
            <a href="javascript:void(0)">
              <h3 class="title">Wallet</h3>
            </a>
            <p class="description">
              What is wallet page?
            </p>
          </div>
          <p></p>
          <div class="card-description">
            <p>
              The wallet page shows the total amount of Theta and Tfuel on a wallet, the wallet addresses, and a history
              of all the transactions made on that wallet.
              Finding a wallet can be done using the wallet address, domain, or by connecting to a wallet using the <a
                    target="_blank" href="https://chrome.google.com/webstore/detail/Theta-wallet/ckelpdlfgochnkdgikcgbimdcfgpkhgk">official
              Theta Wallet extension.</a><br>
              We are planning to add widgets to easily transfer and receive Tfuel, the widgets will be compatible with
              domains.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" id="domain">
    <div class="col-lg-12 col-md-12">
      <div class="card card-user">
        <div class="card-body">
          <p class="card-text">
          </p>
          <div class="author">
            <div class="block block-one"></div>
            <div class="block block-two"></div>
            <div class="block block-three"></div>
            <div class="block block-four"></div>
            <a href="javascript:void(0)">
              <h3 class="title">Domain</h3>
            </a>
            <p class="description">
              What is a Domain?
            </p>
          </div>
          <p></p>
          <div class="card-description">
            <p>
              Domains are a way of associating a wallet address with a domain name on the Theta blockchain. <br>
              They remove the need for copying and pasting long addresses. You can use them to easily explore a wallet
              or send Tfuels to someone. <br>
              Domains are using a public smart contract that can be found on
              <a target="_blank" href="https://github.com/thetaboard-org/smart_contracts/blob/master/contracts/addressName.sol">
                github </a><br>
              <br>
              To buy a new domain, you will need to be on chrome and use the <a
                    target="_blank" href="https://chrome.google.com/webstore/detail/Theta-wallet/ckelpdlfgochnkdgikcgbimdcfgpkhgk">official
              Theta Wallet extension.</a><br>
            </p>
            <br>
            <h4>Buy a Theta Domain Name</h4>
            <p>
              Search for a domain on the
              <LinkTo @route="domain"> domain page</LinkTo>
              , and see if it is available or not. <br>
              If available the domain can be bought for 5 Tfuel buy clicking on the "Review Order" button. It will
              open a popup on the <a
                    target="_blank" href="https://chrome.google.com/webstore/detail/Theta-wallet/ckelpdlfgochnkdgikcgbimdcfgpkhgk">official
              Theta Wallet extension</a> to confirm the transaction.
              If a domain is already used by someone, an offer can be made for at least 1 Tfuel to the current owner of
              the domain.<br>
              Once a offered as been entered, clicking the "Review Order" button will
              open a popup on the <a
                    target="_blank" href="https://chrome.google.com/webstore/detail/Theta-wallet/ckelpdlfgochnkdgikcgbimdcfgpkhgk">official
              Theta Wallet extension</a>. Which will lock the funds for the offer on the smart contract<br>
              The offer can be canceled at any time, and the smart contract will send all the Tfuels back to the wallet.<br>
              The owner of the domain can either accept or reject the offer.
            </p>
            <br>
            <h4>Address lookup</h4>
            <p> An address can be entered on the Address lookup, it will return all the domains associated with it.
              The button "My domain name" can be clicked on to link your wallet using the <a
                      target="_blank" href="https://chrome.google.com/webstore/detail/Theta-wallet/ckelpdlfgochnkdgikcgbimdcfgpkhgk">official
                Chrome extension</a>.
            </p>
            <br>
            <h4>My offers</h4>
            <p> The state of offers can be seen in this widget. The offers made by the current connected wallet, can be
              canceled at any time. Which will transfer the Tfuels from the smart contract to the wallet which made the
              offer.<br>
              Accepting an offer can be done by clicking on the "accept offer" button.
              Which will open a confirmation popup on the wallet. Once confirmed, the smart contract will send the
              90% of the Tfuels to the wallet that accepted the offer, 10% to Thetaboard.io support,
              and transfer ownership of the domain to the new owner. <br>
              If not satisfied with an offer, it is possible to reject it by clicking on the "reject offer" button.
              The smart contract will send back the Tfuels to the wallet that made the offer. Once the rejection is
              confirm.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" id="guardian">
    <div class="col-lg-12 col-md-12">
      <div class="card card-user">
        <div class="card-body">
          <p class="card-text">
          </p>
          <div class="author">
            <div class="block block-one"></div>
            <div class="block block-two"></div>
            <div class="block block-three"></div>
            <div class="block block-four"></div>
            <a href="javascript:void(0)">
              <h3 class="title">Guardian Node</h3>
            </a>
            <p class="description">
              What is the Guardian Node page?
            </p>
          </div>
          <p></p>
          <div class="card-description">
            <p>
              Guardian Node have an important part of the Theta, they form a second layer defense against potential
              malicious attackers on the blockchain. <br>
              Staking a minimum of {{format-number 1000}} Theta on a a guardian node will reward proportionally in
              Tfuels.Forecasting can be found on the dashboard.<br>
              Staking Theta on a Guardian Node will keep the Theta on the wallet. The Guardian Node will NOT be in
              control of the Theta, it is always possible to withdraw them.
            </p><br>
            <h4> Using Thetaboard public Guardian Node</h4>
            <p>
              Thetaboard.io host a public Guardian Node for the community. Anyone can use it by either using summary on
              the page and the <a target="_blank" href="https://docs.thetatoken.org/docs/guardian-staking-process">Theta
              instructions</a>.<br>
              Or the Stake widget can be used. Clicking on the "Deposit" button will ask for an amount of Theta, then
              clicking on "Review Deposit", will open a confirmation on the <a
                    target="_blank" href="https://chrome.google.com/webstore/detail/Theta-wallet/ckelpdlfgochnkdgikcgbimdcfgpkhgk">official
              Theta Wallet extension.</a> <br> <br>
              Unstacking Theta can be done at any time by either using the <a
                    target="_blank" href="https://docs.thetatoken.org/docs/withdrawing-your-stake-from-the-guardian-node">Theta
              documentation</a> or by clicking on the "Withdraw" button
            </p><br>
            <h4>Summary and Logs</h4>
            <p>
              The Guardian Node Address and Summary are displayed. It is possible to click on it to copy the
              content.<br>
              Curious people can click on the "Guardian Logs" icon, to get the latest logs from the running Guardian
              Node.
            </p>
            <h4> Hosting a Guardian Node</h4>
            <p>
              For more advanced users it is possible to setup a Guardian Node using the using the <a
                    target="_blank" href="https://docs.thetatoken.org/docs/guardian-node-overview">Theta documentation</a><br>
              Or by setting up an instance of Thetaboard. Which can be done by running the following commands on a linux
              terminal: <br>
              <code>
                curl -L https://raw.githubusercontent.com/momohuri/thetaboard/main/Makefile -o ./Makefile <br>
                NODE_PASSWORD='A-SECRET-PASSWRD' make start_thetaboard<br>
              </code>
              <br>
              Mode information can be found on our <a
                    target="_blank" href="https://github.com/momohuri/thetaboard">github</a>.<br>

              Setting up a custom Guardian Node unlock features to start/stop the guardian Node, update to the latest
              binaries, and download the latest snapshot.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
