{{page-title "Dashboard"}}
<div class="row">
  <div class="col-12">
    {{charts/price-chart historic_price=@model.historicPrice }}
  </div>
</div>

<div class="row">
  <div class="col-6">
    {{charts/holding-pie walletInfo=@model.walletInfo}}
  </div>

  <div class="col-md-6">
    {{theta-stakes/theta-stakes}}
  </div>
</div>

