{{page-title "Guardian"}}
<div class="row">
    <div class="col-md-4">
        {{guardian-status/guardian-status}}
        {{theta-stakes/theta-stakes}}
    </div>
    <div class="col-md-8">
        {{guardian-logs/guardian-logs}}
    </div>
</div>