{{page-title "Wallet"}}

<div class="content">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      {{wallet-list wallets=@model.wallets}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      {{transaction-history transactions=@model.transactions}}
     </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <ThetaStakes/>
    </div>
  </div>
</div>
